<!--
  About Us Page for Chloe K
-->
<!doctype html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../../partials/header.ejs'); %>
  </header>

  <section>
    <div class="d-flex justify-content-center align-items-center">
      <h1 class="display-5 m-5 text-center" style="color: rgba(102, 16, 242, 1)">
        Chloe Kim
      </h1>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col text-center">
          <img src="../assets/pfp.png" class="mb-3" />
          <p class="lead text-secondary">Front-end Dev</p>
          <p class="lead text-secondary">
            I am from Seoul, Korea. I am currently a senior student at the SFSU.
          </p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
